<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
    </head>
    <body>
        <div class="container">
            {% for i in range(qr_codes|length) %}
                <div class="qr-code-card">
                    <img src="{{ url_for('static', filename=qr_codes[i]) }}" alt="QR code">
                    <div class="restaurant-name">{{restaurant_names[i]}}</div>
                </div>
            {% endfor %}
        </div>
    </body>
</html>