.container {
    display: flex;
    flex-wrap: wrap;
}

.qr-code-card {
    width: 200px;
    /* adjust as needed */
    height: 200px;
    /* adjust as needed */
    text-align: center;
    margin: 10px;
}

.qr-code-card img {
    width: 100%;
}

.restaurant-name {
    position: relative;
}